<div class="container">
  <div class="row justify-content-center mt-3">

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header bg-info">
          <h6>Senior Citizen</h6>
        </div>
        <div class="card-body text-center">
          <h2>{{ senior }}</h2>
        </div>
        <div class="card-footer text-end">
          <small class="link-info cursor" (click)="selectSector('SENIOR')">Check</small>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header bg-warning">
          <h6>Person With Disability</h6>
        </div>
        <div class="card-body text-center">
          <h2>{{ pwd }}</h2>
        </div>
        <div class="card-footer text-end">
          <small class="link-warning cursor" (click)="selectSector('PWD')">Check</small>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <h6>Solo Parent</h6>
        </div>
        <div class="card-body text-center">
          <h2>{{ solo }}</h2>
        </div>
        <div class="card-footer text-end">
          <small class="link-secondary cursor" (click)="selectSector('SOLO')">Check</small>
        </div>
      </div>
    </div>

    <div class="col-12 my-3">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-end align-items-center mb-3">
            <div class="col-auto">
              <div class="dropdown mb-3">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="triggerId"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ category == undefined ? 'Select Sector' : category }}
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <a class="dropdown-item cursor" (click)="selectSector(undefined)">All</a>
                  <a class="dropdown-item cursor" (click)="selectSector('SENIOR')">Senior</a>
                  <a class="dropdown-item cursor" (click)="selectSector('PWD')">Person With Disability</a>
                  <a class="dropdown-item cursor" (click)="selectSector('SOLO')">Solo Parent</a>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="dropdown mb-3">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="triggerId"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Show {{ limit }}
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                  <a class="dropdown-item cursor" (click)="selectLimit(5)">Show 5</a>
                  <a class="dropdown-item cursor" (click)="selectLimit(10)">Show 10</a>
                  <a class="dropdown-item cursor" (click)="selectLimit(20)">Show 20</a>
                </div>
              </div>
            </div>
            <div class="col-auto">
              Showing: {{ from }}-{{ to }}
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped
            table-hover
            table-borderless">
              <thead class="table-light">
                <tr>
                  <th>Name</th>
                  <th>Relationship</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Senior</th>
                  <th>PWD</th>
                  <th>Solo</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let item of list" class="cursor">
                  <td scope="row">{{ item.name }}</td>
                  <td>{{ item.relationship_to_head }}</td>
                  <td>{{ item.sex }}</td>
                  <td>{{ item.age }}</td>
                  <td class="text-uppercase text-{{ item.is_senior ? 'success' : 'dark' }}">{{ item.is_senior }}</td>
                  <td class="text-uppercase text-{{ item.is_pwd ? 'success' : 'dark' }}">{{ item.is_pwd }}</td>
                  <td class="text-uppercase text-{{ item.is_solo_parent ? 'success' : 'dark' }}">{{ item.is_solo_parent
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="btn-group btn-group-sm" role="group" aria-label="Paginator">
                <button [disabled]="!has_prev_page" (click)="paginate(current_page - 1)" type="button"
                  class="btn btn-outline-primary btn-sm">Prev</button>
                <button type="button" class="btn btn-outline-primary btn-sm">{{ current_page }}</button>
                <button [disabled]="!has_next_page" (click)="paginate(current_page + 1)" type="button"
                  class="btn btn-outline-primary btn-sm">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
