<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5>Household List</h5>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary btn-sm">Add</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped
      table-hover
      table-borderless">
        <thead class="table-light">
          <tr>
            <th>Barangay</th>
            <th>Household Head</th>
            <th>Member Count</th>
            <th>Conducted By</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of list" class="cursor">
            <td scope="row">{{ item.barangay }}</td>
            <td>{{ item.head }}</td>
            <td>{{ item.member_count }}</td>
            <td>{{ item.conducted_by.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
