<div class="card">
  <div class="card-header">
    <h5>Set New Password</h5>
  </div>
  <div class="card-body">
    <form id="loginForm" (submit)="submit()">
      <div class="mb-3">
        <label for="text" class="form-label">OTP</label>
        <input type="text" class="form-control" name="otp" id="otp" placeholder="OTP" pattern="[0-9]+"
          aria-describedby="helpId" required minlength="6" maxlength="6" [(ngModel)]="otp">
        <small id="helpId" class="form-text text-muted">OTP that was sent to your email. Format: 000000</small>
      </div>
      <hr>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required
          [(ngModel)]="password">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password Confirmation</label>
        <input type="password" class="form-control" name="password_confirmation" id="password_confirmation"
          placeholder="Password Confirmation" required [(ngModel)]="password_confirmation">
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <div class="d-grid gap-2">
      <button type="submit" form="loginForm" name="submit" id="submit" class="btn btn-primary">Set</button>
    </div>
    <br>
    <a [routerLink]="['/auth/login']">Back to Sign-In</a>
  </div>
</div>
